<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed animated slideInLeft bg">

        <a class="logo-wrapper waves-effect">
            <img src="http://clipart-library.com/images/5TRrpRAGc.png" class="img-fluid" alt="">
        </a>

        <div class="list-group list-group-flush">

            <a routerLink="/home" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="home" class="mr-3" size="lg"></mdb-icon>
                HOME
            </a>
            <a routerLink="/benefits" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="ticket-alt" class="mr-3" size="lg"></mdb-icon>
                BENEFICIOS
            </a>
            <a routerLink="/home" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="map-marker-alt" class="mr-3" size="lg"></mdb-icon>
                LOCALES
            </a>
            <a routerLink="/home" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="utensils" class="mr-3" size="lg"></mdb-icon>
                MENU
            </a>
            <a routerLink="profile" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="user" class="mr-3" size="lg"></mdb-icon>
                MI PERFIL
            </a>
            <a routerLink="/mycoupons" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="heart" class="mr-3" size="lg"></mdb-icon>
                MIS CUPONES
            </a>

        </div>

        <br>

        <!--Facebook-->
        <button type="button" class="btn bg-info btn-rounded waves-effect">
            <mdb-icon fab icon="facebook-f" size="lg"></mdb-icon>
        </button>

        <!--Instagram-->
        <button type="button" class="btn mean-fruit-gradient btn-rounded waves-effect">
            <mdb-icon fab icon="instagram" size="lg"></mdb-icon>
        </button>

    </div>
    <!-- Sidebar -->


    <!-- USER AUHTENTICATED -->
    <!--Navbar-->
    <mdb-navbar [containerInside]="false"
        SideClass="navbar navbar-expand-lg navbar-light white z-depth-2 animated slideInDown" *ngIf="userIsLoggin">

        <!-- Navbar brand -->
        <logo class="ml-3">
            <a class="navbar-brand">
                <strong class="blue-text" *ngIf="this.userIsLoggin.role === 'User'">
                    APP
                </strong>
                <strong class="blue-text" *ngIf="this.userIsLoggin.role === 'Admin'">
                    ADMIN PANEL
                    <mdb-icon fas icon="chevron-right" size="lg" class="right ml-2"></mdb-icon>
                </strong>
            </a>
        </logo>

        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <div class="navbar-nav mr-auto" *ngIf="this.userIsLoggin.role === 'Admin'">
                    <li class="nav-item">
                        <a class="nav-link waves-light" routerLink="administration/users" routerLinkActive="active"
                            mdbWavesEffect>Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" routerLink="administration/benefit/add"
                            routerLinkActive="active" mdbWavesEffect>
                            Agregar Beneficio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" routerLink="administration/verify" routerLinkActive="active"
                            mdbWavesEffect>
                            Verificar Cupón</a>
                    </li>
                </div>

                <!-- USER MENU MOBILE -->
                <div class="navbar-nav mr-auto d-block d-sm-none">
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link waves-light" routerLink="/home" routerLinkActive="active"
                            mdbWavesEffect>
                            <mdb-icon fas icon="home" class="mr-3" size="lg"></mdb-icon>
                            Home
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link waves-light" routerLink="/benefits"
                            routerLinkActive="active" mdbWavesEffect>
                            <mdb-icon fas icon="ticket-alt" class="mr-3" size="lg"></mdb-icon>
                            Beneficios
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link waves-light" routerLink="/home" routerLinkActive="active"
                            mdbWavesEffect>
                            <mdb-icon fas icon="map-marker-alt" class="mr-3" size="lg"></mdb-icon>
                            Locales
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" routerLink="/home" routerLinkActive="active"
                            mdbWavesEffect>
                            <mdb-icon fas icon="utensils" class="mr-3" size="lg"></mdb-icon>
                            Menu
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" routerLink="/profile" routerLinkActive="active"
                            mdbWavesEffect>
                            <mdb-icon fas icon="user" class="mr-3" size="lg"></mdb-icon>
                            Mi Perfil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" routerLink="/mycoupons" routerLinkActive="active"
                            mdbWavesEffect>
                            <mdb-icon fas icon="heart" class="mr-3" size="lg"></mdb-icon>
                            Mis Cupones
                        </a>
                    </li>
                </div>
            </ul>
            <!-- Links -->

            <!-- Search form -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a href="#" (click)="logout()" class="nav-link" mdbWavesEffect>
                        <mdb-icon fas icon="sign-out-alt" size="lg"></mdb-icon> Desconectar
                    </a>
                </li>
            </ul>
        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->
    <!-- END USER AHUTENTICATED -->


</header>
<!--Main Navigation-->