
textarea:focus, input:focus {
    color: #ffffff;
    padding-left: 10px !important;
}

input, select, textarea{
    color: #ffffff;
    padding-left: 10px !important;
}

.md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
}
  
  
.md-form label {
color: #ffffff;
}