<div class="container jumbotron mt-5">
    <div class="row">



        <div class="col-sm-12">
            <div class="zoom img-avatar text-center">
                <a class="media waves-light">
                    <div class="avatar mx-auto img-fluid rounded-circle z-depth-">
                        <img [src]="(userData.urlImg)" class="rounded-circle hoverable userPhoto"
                            mdbTooltip="Cambiar foto de perfil" placement="bottom" (click)="basicModal.show()">
                    </div>
                </a>
            </div>
        </div>

        <div class="mt-5 col-sm-12 col-md-4 offset-md-4">

            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-center">
                    <mdb-icon far icon="user" class="text-success" size="2x"></mdb-icon>
                    <h3>
                        <span class="badge badge-default badge-pill ml-5">
                            {{ userData.name }}
                        </span>
                    </h3>
                </li>

                <li class="list-group-item d-flex align-items-center">
                    <mdb-icon far icon="envelope" class="text-info" size="2x"></mdb-icon>
                    <h3>
                        <span class="badge badge-default badge-pill ml-5">
                            {{ userData.email }}
                        </span>
                    </h3>
                </li>

                <li class="list-group-item d-flex align-items-center">
                    <mdb-icon fas icon="birthday-cake" class="text-danger" size="2x"></mdb-icon>
                    <h3>
                        <span class="badge badge-default badge-pill ml-5">
                            {{ userData.birthday | date }}
                        </span>
                    </h3>
                </li>

            </ul>

        </div>



    </div>
</div>


<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100">Cambiar Imagen</h4>
            </div>


            <div class="modal-body">

                <form>


                    <div class="image-upload text-center">

                        <label for="file-input">

                            <a type="button" class="btn btn-pink waves-light" mdbWavesEffect>
                                <mdb-icon fas icon="upload" class="mr-1"></mdb-icon>
                                Selecionar imagen...
                            </a>

                        </label>

                        <input #imageInput id="file-input" type="file" (change)="processFile(imageInput)"
                            accept="image/*" required>

                        <div *ngIf="selectedFile" class="img-preview-container">

                            <div *ngIf="selectedFile.pending" class="img-loading-overlay">
                                <div class="img-spinning-circle"></div>
                            </div>

                            <div *ngIf="selectedFile.status === 'ok'" class="alert alert-info" role="alert">
                                Imagen subida:
                                <img class="img-fluid" [src]="this.selectedFile.src" />
                            </div>

                            <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded
                                Succesfuly!</div>
                            <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!
                            </div>
                        </div>

                    </div>

                </form>

            </div>


        </div>
    </div>
</div>