<div class="container jumbotron mt-5">
        <div class="row">
    
    
    
            <div class="col-sm-12">
    
                <div class="zoom img-avatar text-center">
    
                    <a class="media waves-light">
                        <div class="avatar mx-auto img-fluid rounded-circle">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img(31).jpg"
                                class="rounded-circle hoverable userPhoto" mdbTooltip="Cambiar foto de perfil"
                                placement="bottom">
                        </div>
                    </a>
    
                </div>
    
            </div>
    
            <div class="mt-5 col-sm-12 col-md-4 offset-md-4">
    
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex align-items-center">
                        <mdb-icon far icon="user" class="text-info" size="2x"></mdb-icon>
                        <h3>
                            <span class="badge badge-default badge-pill ml-5">
                                {{ userData.name }}
                            </span>
                        </h3>
                    </li>
    
                    <li class="list-group-item d-flex align-items-center">
                        <mdb-icon far icon="envelope" class="text-info" size="2x"></mdb-icon>
                        <h3>
                            <span class="badge badge-default badge-pill ml-5">
                                {{ userData.email }}
                            </span>
                        </h3>
                    </li>
    
                </ul>
    
            </div>
    
    
    
        </div>
    </div>