<div class="row mx-1 justify-content-center mt-5">


    <div class="col-12">
        <div class="jumbotron sunny-morning-gradient">

            <div class="row justify-content-center">
                <div class="col-md-4 col-lg-4 col-sm-12" *ngFor="let benefit of pagedItems">
                    <div class="card-deck animated zoomInDown">

                        <!-- Card -->
                        <mdb-card>

                            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                                <mdb-card-img [src]="BackendApi.apiURL + '/benefits/' + benefit.imgPath"
                                    alt="Benefit Image">
                                </mdb-card-img>
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>

                            <mdb-card-body>
                                <mdb-card-title>
                                    <h4> {{ benefit.title }} </h4>
                                    <hr>
                                </mdb-card-title>

                                <mdb-card-text>
                                    {{ benefit.description }}
                                </mdb-card-text>

                                <div class="text-center mb-3">
                                    <button mdbBtn type="button" color="info" outline="true" block="true" size="lg"
                                        mdbWavesEffect (click)="redeemBenefit(benefit.id)"> Canjear! </button>
                                    <hr>
                                </div>

                                <div class="d-flex justify-content-center text-info">
                                    <h5 class="waves-light text-success" mdbWavesEffect>Precio
                                        <span>
                                            <mdb-icon fas icon="chevron-right" size="lg"></mdb-icon>
                                            $ {{ benefit.price }}
                                        </span>
                                        <hr>
                                    </h5>
                                </div>

                            </mdb-card-body>

                        </mdb-card>
                        <!-- Card -->
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12">

            <div class="br justify-content-center center mt-5">
                <div class="col-12 col-md-12 col-lg-12">
                    <nav>
                        <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-circle pg-teal">
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="setPage(1)" class="page-link" mdbWavesEffect>Primera</a>
                            </li>
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="setPage(pager.currentPage - 1)" class="page-link" aria-label="Previous"
                                    mdbWavesEffect>
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                            </li>
                            <li class="page-item active" *ngFor="let page of pager.pages"
                                [ngClass]="{active:pager.currentPage === page}">
                                <a (click)="setPage(page)" class="page-link" mdbWavesEffect>{{page}}</a>
                            </li>
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.currentPage + 1)" class="page-link" aria-label="Next"
                                    mdbWavesEffect>
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Siguiente</span>
                                </a>
                            </li>
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.totalPages)" class="page-link" mdbWavesEffect>Última</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>



</div>