<div class="row justify-content-center mt-5">

    <!-- Form Benefit -->
    <div class="col-6">
        <div class="jumbotron">

            <section class="text-center">
                <h3>¡Beneficio!</h3>
                <hr>
            </section>

            <form [formGroup]="addBenefitForm" (ngSubmit)="onSubmit()">

                <div class="image-upload text-center">
                    <label for="inputImg">

                        <div class="view overlay">
                            <figure class="figure">
                                <img [src]="this.selectedFile.src"
                                    class="figure-img img-fluid img-thumbnail z-depth-1 waves-light benefitImg"
                                    alt="Benefit Image">
                                <figcaption class="figure-caption">
                                    Imagen del beneficio
                                    <div class="text-danger" *ngIf="addBenefitForm.controls.baseImg.invalid">
                                        Selecciona al menos una imagen.</div>
                                </figcaption>
                            </figure>



                            <a>
                                <div class="mask waves-effect waves-light rgba-white-slight" mdbWavesEffect></div>
                            </a>
                        </div>

                    </label>
                    <input #imageBenefit type="file" name="imgBenefit" id="inputImg" accept="image/*"
                        (change)="processFile(imageBenefit)" formControlName="baseImg">

                </div>

                <div class="md-form md-outline">
                    <mdb-icon fas icon="gift" class="text-warning" size="lg"></mdb-icon>
                    <input mdbInput mdbValidate type="text" id="titleBenefit" class="form-control"
                        formControlName="title">
                    <label for="titleBenefit">Nombre Beneficio</label>
                    <mdb-error
                        *ngIf="addBenefitForm.controls.title.invalid && (addBenefitForm.controls.title.dirty || addBenefitForm.controls.title.touched)">
                        Requerido. Máximo 30 caracteres.</mdb-error>
                </div>


                <div class="md-form md-outline">
                    <mdb-icon fas icon="pencil-alt text-primary" size="lg"></mdb-icon>
                    <textarea type="text" id="description" class="md-textarea md-textarea-auto form-control"
                        formControlName="description" rows="2" style="height: 500px;" mdbInput mdbValidate></textarea>
                    <label for="description">Descripción</label>
                    <mdb-error
                        *ngIf="addBenefitForm.controls.description.invalid && (addBenefitForm.controls.description.dirty || addBenefitForm.controls.description.touched)">
                        Requerido. Máximo 400 caracteres.</mdb-error>
                </div>

                <div class="md-form md-outline">
                    <mdb-icon fas icon="dollar-sign" class="text-success" size="lg"></mdb-icon>
                    <input type="number" id="priceBenefit" class="form-control" formControlName="price" mdbInput
                        mdbValidate>
                    <label for="priceBenefit">Precio</label>
                    <mdb-error
                        *ngIf="addBenefitForm.controls.price.invalid && (addBenefitForm.controls.price.dirty || addBenefitForm.controls.price.touched)">
                        Requerido. Ingrese un precio.</mdb-error>
                </div>


                <div class="md-form md-outline">
                    <!-- Date -->
                    <mdb-icon far icon="calendar-alt" class="text-danger mr-4"></mdb-icon>
                    <input mdbInput mdbValidate class="form-control" type="date" aria-describedby="helpBlockExpiration"
                        formControlName="expiration">
                    <small id="helpBlockExpiration" class="form-text text-muted mt-3">
                        Vencimiento del beneficio.
                    </small>
                    <mdb-error class="mb-3"
                        *ngIf="addBenefitForm.controls.expiration.invalid && (addBenefitForm.controls.expiration.dirty || addBenefitForm.controls.expiration.touched)">
                        Ingrese una fecha.</mdb-error>
                </div>


                <div class="md-form">
                    <hr class="bg-info">
                    <button mdbBtn type="submit" gradient="aqua" block="true" [disabled]="!addBenefitForm.valid"
                        mdbWavesEffect>Agregar Beneficio</button>
                </div>
            </form>

        </div>
    </div>
    <!-- End - Form Benefit -->

    <!-- Preview Benefit -->
    <div class="col-6">
        <div class="jumbotron sunny-morning-gradient">

            <section class="text-center text-white">
                <h3>Visualización</h3>
                <hr>
            </section>

            <div class="row justify-content-center">
                <div class="col col-lg-8 col-md-8">
                    <mdb-card>


                        <mdb-card-img [src]="this.selectedFile.src" alt="Card image cap"></mdb-card-img>

                        <mdb-card-body>
                            <mdb-card-title>
                                <h4> {{ addBenefitForm.controls.title.value }} </h4>
                                <hr>
                            </mdb-card-title>


                            <mdb-card-text>
                                {{ addBenefitForm.controls.description.value }}
                            </mdb-card-text>


                            <div class="text-center mb-3">
                                <button mdbBtn type="button" color="info" outline="true" block="true" size="lg"
                                    mdbWavesEffect> Canjear! </button>
                                <hr>
                            </div>



                            <div class="d-flex justify-content-center text-info">
                                <h5 class="waves-light text-success" mdbWavesEffect>Precio
                                    <span>
                                        <mdb-icon fas icon="chevron-right" size="lg"></mdb-icon>
                                        $ {{ addBenefitForm.controls.price.value}}
                                    </span>
                                    <hr>
                                </h5>
                            </div>

                            <div class="d-flex justify-content-end text-info">
                                <strong class="waves-light text-danger" mdbWavesEffect>Vencimiento
                                    <span>
                                        <mdb-icon fas icon="chevron-right" size="sm"></mdb-icon>
                                        {{ addBenefitForm.controls.expiration.value | date }}
                                    </span>
                                </strong>
                            </div>

                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>



        </div>
    </div>
    <!-- End - Preview Benefit -->
</div>