.userPhoto {
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
}


.userPhoto:hover {
    opacity: 0.3;
}


@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.btn-bwm {
    background-color: #000;
    border-color: #fff;
    color: white;
    padding: 15px 30px;
    font-size: 20px;

    &:hover, &:focus, &:active {
        border-color: #fff !important;
        background-color: #000 !important;
    }
}

input.ng-invalid.ng-touched {
    border-left: 1px solid #a94442;
}


input.ng-valid.ng-dirty {
    border-left: 1px solid #42A948;
}