<div class="container jumbotron mt-5">
    <div class="row">

        <div class="col-sm-12">

            <!-- Alert Mode Edit -->
            <div #alert class="alert alert-dismissible fade hide" role="alert">
                <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong #alertMessage></strong>
            </div>
            <!--  End - Alert Mode Edit -->

            <div class="zoom img-avatar text-center">
                <a class="media waves-light">
                    <div class="avatar mx-auto img-fluid rounded-circle">
                        <img [src]="(userData.urlImg)" class="rounded-circle hoverable userPhoto"
                            mdbTooltip="Cambiar foto de perfil" placement="bottom"
                            (click)="modalChangeImgProfile.show()">
                    </div>
                </a>
            </div>
        </div>
        <div class="mt-5 col-sm-12 col-md-4 offset-md-4">
            <ul class="list-group list-group-flush" *ngIf="!modeEdit">
                <li class="list-group-item d-flex align-items-center">
                    <mdb-icon far icon="user" class="text-success" size="2x"></mdb-icon>
                    <h3>
                        <span class="badge badge-default badge-pill ml-5">
                            {{ userData.name }}
                        </span>
                    </h3>
                </li>

                <li class="list-group-item d-flex align-items-center">
                    <mdb-icon far icon="envelope" class="text-info" size="2x"></mdb-icon>
                    <h3>
                        <span class="badge badge-default badge-pill ml-5">
                            {{ userData.email }}
                        </span>
                    </h3>
                </li>

                <li class="list-group-item d-flex align-items-center">
                    <mdb-icon fas icon="birthday-cake" class="text-danger" size="2x"></mdb-icon>
                    <h3>
                        <span class="badge badge-default badge-pill ml-5">
                            {{ userData.birthday | date }}
                        </span>
                    </h3>
                </li>

                <li class="list-group-item d-flex align-items-center">
                    <mdb-icon fas icon="transgender" class="text-secondary" size="2x"></mdb-icon>
                    <h3>
                        <span class="badge badge-default badge-pill ml-5">
                            {{ userData.gender | gender }}
                        </span>
                    </h3>
                </li>

                <li class="list-group-item d-flex align-items-center" *ngIf="userData.provider === 'app'">
                    <mdb-icon fas icon="lock" class="text-warning" size="2x"></mdb-icon>
                    <h3>
                        <span class="badge badge-default badge-pill ml-5">
                            *******
                        </span>
                    </h3>
                </li>

                <li class="list-group-item d-flex align-items-center" *ngIf="userData.provider === 'facebook'">
                    <mdb-icon fas icon="user-tag" class="text-warning" size="2x"></mdb-icon>
                    <h3>
                        <mdb-icon fab icon="facebook" class="text-info ml-4" size="lg"></mdb-icon>
                    </h3>
                </li>

                <li class="list-group-item d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-elegant btn-sm waves-effect"
                        (click)="activeModeEdit(true)">
                        <mdb-icon far icon="edit" class="mr-2" aria-hidden="true"></mdb-icon>Editar
                    </button>
                </li>

            </ul>

            <!-- Edit User Form -->
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

                <ul class="list-group list-group-flush" *ngIf="modeEdit">
                    <li class="list-group-item d-flex align-items-center">

                        <mdb-icon far icon="user" class="text-success" size="2x"></mdb-icon>
                        <!-- Name -->
                        <div class="md-form mb-0 mb-0">
                            <i class="fas fa-user prefix white-text"></i>
                            <input mdbInput type="text" class="form-control" formControlName="editFormName">
                            <label for="editFormName">Nombre</label>
                        </div>
                    </li>

                    <li class="list-group-item d-flex align-items-center">

                        <mdb-icon fas icon="transgender" class="text-secondary mr-4" size="2x"></mdb-icon>
                        <!-- Gender -->
                        <div class="md-form md-outline mb-0">
                            <select class="browser-default custom-select" formControlName="editFormGender">
                                <option value="male">Hombre</option>
                                <option value="female">Mujer</option>
                            </select>
                        </div>
                    </li>

                    <li class="list-group-item d-flex align-items-center">

                        <mdb-icon far icon="envelope" class="text-info" size="2x"></mdb-icon>
                        <!-- E-mail -->
                        <div class="md-form mb-0">
                            <i class="fas fa-envelope prefix white-text"></i>
                            <input mdbInput type="email" class="form-control" formControlName="editFormEmail">
                            <label for="editFormEmail">Correo</label>

                            <small class="form-text text-muted text-danger"
                                *ngIf="!editForm.controls.editFormEmail.valid && editForm.controls.editFormEmail.touched && !editForm.controls.editFormEmail.errors.emailInUsed">
                                Por favor introduzca una dirección de correo.
                            </small>

                            <div class="form-text" role="alert"
                                *ngIf="!editForm.controls.editFormEmail.valid && editForm.controls.editFormEmail.errors.emailInUsed">

                                <div class="alert animated wobble z-depth-5 dusty-grass-gradient ">
                                    <p class="text-black">
                                        <mdb-icon fas icon="times" class="text-danger mr-1"></mdb-icon>
                                        {{ editForm.controls.editFormEmail.errors.emailInUsed }}
                                    </p>
                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <!-- Date -->
                        <mdb-icon far icon="calendar-alt" class="text-danger mr-4" size="2x"></mdb-icon>

                        <div class="md-form mb-0">
                            <input mdbInput #inputBirthday class="form-control" type="date"
                                formControlName="editFormBirthday">
                        </div>
                    </li>
                </ul>

                <div [formGroup]="passwordForm" *ngIf="userData.provider === 'app'">

                    <ul class="list-group list-group-flush" *ngIf="modeEdit">

                        <li class="list-group-item d-flex align-items-center">
                            <mdb-icon fas icon="unlock" class="text-warning" size="2x"></mdb-icon>
                            <!-- Password -->
                            <div class="md-form mb-0">
                                <i class="fas fa-unlock prefix white-text"></i>
                                <input mdbInput type="password" class="form-control" aria-describedby="helpPassword"
                                    formControlName="registerFormPassword">
                                <label for="registerFormPassword">Contraseña</label>

                                <small id="helpPassword" class="form-text text-muted">
                                    Al menos 8 caracteres.
                                </small>
                            </div>


                        </li>

                        <li class="list-group-item d-flex align-items-center">
                            <mdb-icon fas icon="lock" class="text-warning" size="2x"></mdb-icon>
                            <!-- Re Password -->
                            <div class="md-form mb-0">
                                <i class="fas fa-lock prefix white-text"></i>
                                <input mdbInput type="password" class="form-control" aria-describedby="helpPassword"
                                    formControlName="registerFormConfirmPassword">
                                <label for="registerFormConfirmPassword">Confirmar contraseña</label>

                                <small class="form-text text-danger"
                                    *ngIf="passwordForm.controls.registerFormConfirmPassword.errors?.required && passwordForm.controls.registerFormConfirmPassword.touched">
                                    Confirma la contraseña.
                                </small>
                                <small class="form-text text-danger" *ngIf="passwordForm.errors?.doesMatchPassword">
                                    Las contraseñas no coinciden.
                                </small>
                            </div>


                        </li>
                    </ul>


                </div>



                <ul class="list-group list-group-flush" *ngIf="modeEdit">

                    <li class="list-group-item d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-success btn-sm waves-effect"
                            [disabled]="!passwordForm.valid || !editForm.valid">
                            <mdb-icon fas icon="edit" class="mr-2" aria-hidden="true"></mdb-icon>Editar
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-sm waves-effect"
                            (click)="activeModeEdit(false)">
                            <mdb-icon fas icon="times" class="mr-2" aria-hidden="true"></mdb-icon>Cancelar
                        </button>
                    </li>

                </ul>

            </form>
            <!-- End - Edit User Form -->



        </div>

    </div>
</div>

<!-- Modal - Change Profile Image -->
<div mdbModal #modalChangeImgProfile="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="modalChangeImgProfile" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-notify modal-info" role="document">
        <div class="modal-content">

            <div class="modal-header sunny-morning-gradient">
                <button type="button" class="close pull-right" aria-label="Close"
                    (click)="modalChangeImgProfile.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="heading lead">Cambiar Imagen</h4>
            </div>

            <div class="modal-body">
                <form>
                    <div class="image-upload text-center">

                        <label for="file-input">
                            <a type="button" class="btn btn-pink waves-light" mdbWavesEffect>
                                <mdb-icon fas icon="upload" class="mr-1"></mdb-icon>
                                Selecionar imagen...
                            </a>
                        </label>

                        <input #imageInput id="file-input" type="file" (change)="this.processFile(imageInput)"
                            accept="image/*" required>

                        <div *ngIf="this.selectedFile" class="img-preview-container">
                            <div *ngIf="this.selectedFile.pending" class="img-loading-overlay">
                                <div class="img-spinning-circle"></div>
                            </div>

                            <div *ngIf="this.selectedFile.status === 'ok'" class="alert alert-info" role="alert">
                                Imagen subida:
                                <img class="img-fluid" [src]="this.selectedFile.src" />
                            </div>

                            <div *ngIf="this.selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded
                                Succesfuly!</div>
                            <div *ngIf="this.selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload
                                Failed!
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Edit Profile Data -->